* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    width:100%;
    height: 100%;
    background-image: url(image/pink-blue-gradient.jpg);
    background-size: cover;
    overflow-y: hidden; 
}

.header {
    padding-top: 10px;
}

.content {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-top: 51px;
}
.body {
    width: 45%;
    padding-top: 101px;
}

.h1 {
    font-size: 80px;
    font-family:"Times New Roman";
    color: white;
    text-shadow:  2px 3px 3px #fa2b70;
}
.socialmedia {
    font-size: 27px;
    padding-top: 10px;
    padding-left: 27px;
    text-shadow: 2px 2px rgb(30, 187, 235);
    color: white;
}
.alloficon {
    display: flex;
    list-style: none;
    padding-top: 21px;
}
.SMicon {
    width: 70px;
    margin-right: 81px;
    border-radius: 14px;
}


.quote {
    color: white;
    font-style: italic;
    font-size: 24px;
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    transition: .5s ease;
    opacity:0;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}
.quote:hover {
    opacity: 1;
}


.TitleImage {
    display: block;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    
}


.link {
    text-decoration: none;
    margin: 20px;
    color: #ff0f87;
    font-family: 'Times New Roman';
    font-weight: bold;
    font-size: 40px;
    text-shadow: 2px 2px white;
}
.about {
    width: 55%;
    padding-top: 16px;
    display: flex;
    justify-content: center;
}
.button {
    background-color: transparent;
    border-radius: 10px;
    border: none;
}
.button:hover {
    background-color: white;
}
.arrow {
    width: 42px;
    height: 38px;
    padding-top: 10px;
}

.img {
    width: 60%;
    margin-left: 129px;
    box-shadow: 0 0 8px 8px white inset;
    display: block;
    border-radius: 188px;
}
.photo {
    width: 100%;
    text-align: right;
}